.Profile-container{
    background-image: url('../../assets/bg/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Profile-main-container{
    height: 120vh;
    width: 100%;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Gowun Batang', serif;
    
}

.white-blur-screen{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-part{
    margin-top: 2vh;
    height: 80vh;
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
   

}

.profile-heading{
    /* background-color:red; */
    margin-left: 2vw;
    font-size: 2vw;
}

.purchased-orders{
    margin-top: 30vh;
    margin-left: 2vw;
    
}
.po-header{
    
    font-size: 2vw;
}

.heading-underline{
    width: 30vw;
    height: 0.2vh;
    background-color: black;
    margin-bottom: 2vh;
}

.right-part{
    height: 80vh;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    
    flex-direction: column;
    text-align: right;
}

.button-area{
    margin-top: 2vh;
    margin-right: 2vw;
}

.profile-logout{
    height: 2.5rem;
    width: 7rem;
    background-color: transparent;
    elevation: 0; 
    outline: 0;
    border: 0;
    font-size: 24px;
    font-family: 'Gowun Batang', serif;
    cursor: pointer;
}

.Adress-area{
    margin-top: 29vh;
}

.add-header{
    font-size: 2vw;
}

.add-heading-underline{
    width: 30vw;
    height: 0.2vh;
    background-color: black;
    margin-bottom: 2vh;   
    margin-left: auto; 
   
}



