.content-container {

  margin-top: 0%;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20px;
  color: #730000;
  position: absolute;
  top: 8%; /* Adjust as needed */
  left: 10%; /* Adjust as needed */
  width: 80%; /* Adjust as needed */

}

.border-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  
}

.border-image {
  width: 100%;
  height: 900px;
  display: block;
  border-radius: 15px;
}

.border-image1 {
  width: 100%;
  height: 750px;
  display: block;
  border-radius: 15px;
  margin-top: 30px;
}

.content-section {
  margin-top: 0%;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20px;
  color: #730000;
  position: absolute;
  top: 8%; /* Adjust as needed */
  left: 10%; /* Adjust as needed */
  width: 80%; /* Adjust as needed */
}

.border-section {
  position: relative;
  width: 90%;
  margin: 0 auto;
  
}
#image1 {
  position: absolute;
  width: 100%;
  height: 230%;
  z-index: -1;
}
.content-container h1{
  color: #650000;
}

.content-section h1{
  color: #650000;
}
h1{
  text-align: center;
  color: white;
  margin-top: 0%;
}
.hero-image1 {
  width: 900px;
  height: 400px;
  border-radius: 15px;
}

